/* COFF information not part of RC
   Time stamp: 1438184412

   Type: version
   COFF information not part of RC
   Time stamp: 1438184412

   Name: 1
   COFF information not part of RC
   Time stamp: 1438184412.  */
LANGUAGE 0, 0

1 VERSIONINFO
 FILEVERSION 1, 0, 0, 0
 PRODUCTVERSION 1, 0, 0, 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "CompanyName", "School of Software Engineering of BUPT"
      VALUE "FileDescription", "Dream Gobang"
      VALUE "FileVersion", "1.0.0.0"
      VALUE "InternalName", "Dream-Gobang.exe"
      VALUE "LegalCopyright", "Copyright (C) 2015"
      VALUE "OriginalFilename", "Simple-GoBang.exe"
      VALUE "ProductName", "Dream Gobang"
      VALUE "ProductVersion", "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x804, 1200
  END
END

/* Type: 24
   COFF information not part of RC
   Time stamp: 1438184412

   Name: 2
   COFF information not part of RC
   Time stamp: 1438184412.  */

2 24 /* RT_MANIFEST */ MOVEABLE PURE DISCARDABLE
BEGIN
  "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>   \r\n"
  "<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">\r\n"
  " <dependency>   \r\n"
  "    <dependentAssembly>\r\n"
  "\t\t  <assemblyIdentity type=""win32""   \r\n"
  "\t\t\t  name=""Microsoft.Windows.Common-Controls""\r\n"
  "\t\t\t  version=""6.0.0.0""   \r\n"
  "\t\t\t  processorArchitecture=""X86""   \r\n"
  "\t\t\t  publicKeyToken=""6595b64144ccf1df"" \r\n"
  "\t\t\t  language=""*""/>   \r\n"
  "\t\t</dependentAssembly>\r\n"
  "\t</dependency>\r\n"
  "</assembly>"
END
